<div>
<section class="box">
<h1 class="h1">About</h1>
<h1 class="sp">Acerca de</h1>
</section>
  
 
<section class="box">
  <article>This website was created for the course <i>Digital Publishing with Minimal computing: humanities at a global scale</i>  seminar by the University of Maryland (United States) and the Universidad del Salvador (Argentina) between September and December 2021. The team “Helados” is made up of two students, one from University of Maryland and the other from Universidad del Salvador. We are a multicultural and multilingual group that seeks to use both English and Spanish to digitally and minimally host a scholarly digital edition of “A Description of the City of Potosi, and the Mines there" from <i>Acarate Du viscay's Voyage</i> .</article>
  <article class="sp"> Este Sitio Web fue creado para el curso <i>Digital Publishing with Minimal computing: humanities at a global scale</i> dictado por la Universidad de Maryland (Estados Unidos) y la Universidad del Salvador (Argentina) entre Septiembre y Diciembre del 2021. El grupo “Helados” está compuesto por dos estudiantes, uno de la Universidad de Maryland y otro de la Universidad del Salvador. Somos un grupo multicultural y bilingüe que busca usar tanto Inglés como Español en la presentación de una edición académica digital de la “Descripción de la ciudad de Potosí y sus minas" del <i>Viaje de Acarette Du Viscay</i>. </article>
</section>

</div>

<div>
  <img class="aboutfoto" src="mith301.jpg" alt="a logo" width="500" /> </div>
  <br>
  
<div id="homelink">
  <a href="https://raffazizzi.gitlab.io/helados-in-dh-group/">go back home/ir a inicio</a>

</div>