<div>

<section class="box"><h1 class="h1">Our Edition</h1> <h1 class="sp">Nuestra Edición</h1></section>
    

    <section class="box">
        <article> <p>Our bilingual digital edition of the text <b>“A description of the city of Potosi and the mines there”</b> is to target modern readers to understand the ancient readings by modernizing old-fashioned spelling and correcting errors from the original text. We still want to maintain the version of the source and not forget that the original version is in the format of a journal. However, we want to modernize some of the words for the readers to understand the source. Both English and Spanish versions are really different because the English text is more ancient than the Spanish text. Thus, encoding is different for both versions. Both versions were modernized using TEI (<a href="https://tei-c.org/">Text Encoding Initiative</a>) using the following elements:

             <ul>
              <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-pb.html">pb:</a>  We mark the beginning of our pages with this element. We consistently continued this division following the Facsimile reproduction of the printed source. We added the global @n attribute to indicate the page numbers in our source. In the digital edition a double line marks the page break.</li> 
              <li> <a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-head.html">head:</a> This is used to distinguish the Chapter title in the source text.</li> 
              <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-lb.html">lb:</a> we use this element to mark the beginning of each line of text in our source document. This element is shown on manuscripts or printed pages, but in our edition, this encoding does not change the display of the text in order to keep the reading as simple as possible.</li>  
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-p.html">p:</a> Marked each paragraph with this element to distinguish paragraph separation of the printed source.</li> 
              <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-foreign.html">foreign:</a> This element is used to specify words in a different language than what the translation is in.</li> 
              <li> <a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-reg.html">reg:</a> This element is used to modernize and mark any old-fashioned spelling in the source. It is written in parenthesis in the digital edition.</li>
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-corr.html">corr:</a> This element is used to correct the errors of the original documents. It is written in parenthesis in the digital edition.</li>  
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-name.html">name:</a> We use this element to indicate the names in the source text, which we define with the @type attributes, to specify the type of organization/change name the name refers to, such as place, country, placeGeor, personRoleName. It is highlighted in <i>italics</i> in the digital edition.</li>
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-orig.html">orig:</a> We use this element to show the original reading without being corrected.</li>   
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-sic.html">sic:</a> We use this element to identified words that are written incorrect in the original version. It is written in <mark>red</mark> in the digital edition.</li>
              <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-c.html">c:</a> the first Capital letter in the text that on the original version is bigger than the rest of the letters.</li> 
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-rs.html">rs:</a> Identify social groups present in the source, such as “Españoles”, and “Spaniards”. It is highlighted in <i>italics</i> in the digital edition. </li> 
              <li><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-note.html">note:</a> This element is used to give additional information explaining a word in the original document. They are at the end of the text, written in gray and in smaller type.</li></ul> 
              </p></article>

         <article class="sp">
          <p>Nuestra edición digital bilingüe del texto <b>“Descripción de la ciudad de Potosí y sus minas”</b> tiene como objetivo acercar a los lectores contemporáneos a un texto antiguo a través de la modernización del vocabulario y la correción de errores de tipeado de la versión original. Pero tratando de mantener aquellos elementos que nos recuerden lo más posible su versión original y el formato de libro en el que fue presentado. Aún así es inevitable realizar algunos cambios para facilitar su lectura. Las versión inglesa y la versión española presentan numerosas diferencias, porque la versión inglesa es más antigua que la española. Con lo cual el marcado de ambos textos difiere entre sí. Para actualizar ambas versiones utilizamos los siguientes elementos TEI:

         <ul> 
          <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/es/html/ref-pb.html"><b>pb:</b></a> identifica el inicio de una página. En este caso lo utilizamos basandonos en la versión impresa. A éste se le agrega el atributo @n para indicar el número de la página original. En la edición digital una doble línea marca el corte de página.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-head.html"><b>head:</b></a> identifica el título del capítulo de la fuente.</li>
          <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/es/html/ref-lb.html"><b>lb:</b></a> indica el inicio de línea basandonos en la fuente original. Este elemento se encuentra presente en la versión impresa del manuscripto pero en nuestra edición no se muestra para lograr mantener la fluidez de la lectura.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-p.html"><b>p:</b></a> señala cada párrafo de la versión original.</li>
          <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/es/html/ref-foreign.html"><b>foreign:</b> </a> identifica palabras que se encuentran en un idioma distinto al de la fuente.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-reg.html"><b>reg:</b></a> es utilizado para modernizar el marcado de palabras con una ortografía más antigua. Se encuentra escrito entre paréntesis en la edición digital.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-corr.html"><b>corr:</b></a> se utiliza para corregir errores de tipeado en la fuente. Se encuentran escritos entre paréntesis en la edición digital.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-name.html"><b>name:</b></a> con el indicamos el uso de nombres propios en el texto que son definidos usando el atributo @type, para aclarar si se refiere a una organización, lugar, nombre propio, entre otros. Se encuentran escritos en <i>cursiva</i> en la edición digital.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-orig.html"><b>orig:</b></a> muestra la palabra original sin ser actualizada.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-sic.html"><b>sic:</b></a> con el se indica una palabra que presenta algún error de tipeado en la versión original. En la edición digital fueron escritas en color <mark>rojo</mark></li>
          <li><a href="https://www.tei-c.org/release/doc/tei-p5-doc/es/html/ref-c.html"><b>c:</b></a> indica la primera letra mayúscula del texto que aparece en un mayor tamaño que el resto de las letras.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-rs.html"><b>rs:</b></a> identifica grupos sociales presentes en la fuente como “españoles” o “Spaniards”. Se encuentran escritos en <i>cursiva</i> en la edición digital.</li>
          <li><a href="https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-note.html"><b>note:</b></a> es utilizado para agregar información adicional sobre algún término en la versión original. Se encuentran al final del texto en un menor tamaño de letra en color gris.</li></ul></p>
          
         </article>     
    </section>



  <img class="originalmap" src="originalmap.jpg" alt="map" />

  </div>
  <br/>
  <div id="homelink">
    <a href="https://raffazizzi.gitlab.io/helados-in-dh-group/">go back home/ir a inicio</a>
  
  </div>

