<div>

  <h1 class="h1">Welcome to our Digital Publication!</h1> 
  <h2 class="h2">¡Bienvenidos a nuestra publicación digital!</h2>


   
 <section class="box"> 
      <article>Our website provides the two translations of one edition. We have created a minimal digital edition, in Spanish and English, of a section in the chapter of <i>Acarete Du Biscay’s Voyage</i> <b>“A description of the city of Potosi and the mines there”</b>.</article>

      <article class="sp">Nuestro sitio web brinda dos translaciones de una misma fuente. Hemos creado una edición digital con <i>Minimal Computing</i> en español e inglés, de una sección del capítulo <b>"Descripción de la ciudad de Potosí y sus minas"</b>  del <i>Viaje de Acarette</i>.</article>
  </section><img class="homefoto" src="mith301.jpg" alt="logo"  />

  <br/>

  <h2 class="title">Editions / Ediciones</h2>
<section class="box">
  <article><h3>English</h3> 
  <a href="englishversion"><img class="portada" src="portada-englishversion.jpg" alt="portada"> </a></article>
  
  <article><h3>Español</h3>
  <a href="spanishversion"><img class="portada" src="Acarete-sp-portada.jpg" alt="portada"> </a></article></section>

  <br>

  <h2 class="title">Editors / Editores</h2> 

  <section class="box">

   <article > <h3>Sidra</h3> 
             <a href="Sidra Nadeem"> <img class="fotomember" src="mith website pic.jpg" alt="foto"></a></article> 

  <article ><h3>Agustina</h3> 
           <a href="Maria Ryckeboer"> <img class="fotomember" src="foto-agus.JPG" alt="foto"></a></article>

  </section>

</div>
