<div >
 <h1 class="h1">Team Charter</h1>
    <Section class="box"><h2 class="h2">Group name</h2> <h2 class="sp"> Nombre del Equipo</h2></Section>

    <Section class="box"> <Article>Ice Cream</Article>
             <Article class="sp">Helados</Article>  </Section>

    <section class="box"><h2 class="h2">Roles</h2> <h2 class="sp">Roles </h2></section>
     
    <section class="box">
         <article> <p> Technical leader: <a href="Sidra Nadeem">Sidra Nadeem </a></p> 
        <p> Submitter: <a href="Maria Ryckeboer">María Agustina Ryckeboer</a>    </p> </article> 
        <article class="sp"><p>Líder técnica : Sidra Nadeem. </p>
      <p> Encargada de envíos: María Agustina Ryckeboer</p>
          </article> </section>   
        
  
    <section class="box"><h2 class="h2">Team Members</h2> <h2 class="sp">Integrantes del equipo</h2> </section> 

    <section class="box">
           <Article> <p> Sidra Nadeem, She/Her/Hers, US, Technical Leader </p> 
         <p> María Agustina Ryckeboer, She/her/hers, Arg, Submitter </p> </Article> 

        <article class="sp"> <p> Sidra Nadeem, ella, US, Líder técnica </p> 
           <p> María Agustina Ryckeboer, ella, Arg, encargada de envíos </p> </article> </section>
    
    <section class="box"><h2 class="h2">Goals</h2> <h2 class="sp">Objetivos</h2> </section>    

    <section class="box">
        <article> <p> We want to develop skills regarding GitLab and Visual Studio Code. We want to be able to create digital humanities projects that are communicated effectively to our audience. We want to create a website at the end of this course and know how to create more websites in the future. We will effectively collaborate with each other to work on the assigned projects and communicate with each other regarding issues with our project. By the end of this course, we would like to be able to have fundamental skills in managing a digital project and know how to create, publish, and maintain a website with minimal technique. We would also like to be familiar with current debates in the digital publishing of humanities research in order to better understand the newest and always changing research and technology. </p>
    
         <p> We will write notes on what we have learned and completed in GitLab and Visual Studio Codes so we know where we stopped and have to continue during the next class. We will also write down notes on coding we do not understand so we can learn about it before using it for the future. We want to achieve a successful project at the end of this course and successfully be able to work on GitLab and VS Code in the future. </p> </article>
        
        <article class="sp"><p>Buscamos desarrollar las capacidades necesarias para trabajar con GitLab y Visual Studio Code. Queremos ser capaces de crear proyectos relacionados a las Humanidades Digitales que logren ser comunicados eficientemente a nuestra audiencia. Buscamos lograr elaborar un sitio web al final de este curso y poder ser capaces de crear más a futuro. Colaboraremos eficientemente entre nosotras al trabajar en el proyecto asignado, comunicándonos sobre cualquier inconveniente que surja en el mismo. Al finalizar el curso, esperamos haber adquirido las herramientas fundamentales para realizar un proyecto digital y saber cómo crear, publicar y mantener un sitio web del modo más simple. Esperamos poder estar al tanto del actual debate sobre las publicaciones digitales en las investigaciones humanísticas para poder comprender mejor los nuevos y siempre dinámicos campos de la investigación y la tecnología.</p>
        <p> Escribiremos notas de lo que hemos aprendido y completado en GitLab y VS Code marcando donde nos hemos detenido para así poder saber donde continuar la siguiente clase. Anotaremos y avisaremos cuando no entendamos algún código para así poder aprenderlo antes de utilizarlo a futuro. Nuestra meta final es lograr elaborar un proyecto exitoso y poder ser capaces de utilizar Gitlab y VS Code a futuro. </p></article></section>  
    
     
    
     <section class="box"><h2 class="h2">Core Values </h2> <h2 class="sp">Fundamentos</h2> </section>
    
       <Section class="box"> <article >By communicating effectively with each other, we will be able to successfully achieve our goals. Expectations consist of communicating about problems regarding GitLab or VS Code and asking questions on uncertain topics so have a better understanding of our assignments. We will communicate via WhatsApp to discuss anything regarding our project. We will share our schedules with each other so we know when we can be free to work on our assignments. We will try to incorporate both English and Spanish in our communications so we can communicate in new ways that are effective. By communicating effectively through our respective languages and schedules, we will respect each other, become close teammates and friends.</article>
    
        <article class="sp">La base para lograr nuestros objetivos será la comunicación. Esperamos poder comunicarnos cuando surja algún problema con GitLab o VS Code o consultarnos cuando creamos que haya temas que no terminamos de comprender. Nos comunicaremos a través de WhatsApp para discutir todo lo referido a los trabajos. Compartiremos nuestros horarios para poder saber en que momento nos encontramos libres para trabajar en nuestro proyecto. Trataremos de hablar tanto en inglés como en español para lograr una mejor comunicación y mejorar nuestra práctica con los idiomas. Todo esto en un clima de respeto para lograr ser mejores compañeras y amigas.</article> </Section> 
    
    <section class="box"> <h2 class="h2">Team management</h2> <h2 class="sp">Gestión del equipo</h2> </section>

    <Section class="box"> <article>Respecting and effectively communicating is how we are going to manage our team in the best way. We have used both Slack and WhatsApp to communicate, WhatsApp being the most effective tool so far. We will try our best to meet virtually at least once a week if needed. To handle decision making, we will establish our objectives and goals to make the best, productive decision regarding our project. If our first decision fails, we would have thought of alternatives to our original decision just to be safe. To resolve conflicts, we will accept there is a conflict to resolve first and think of multiple steps to resolve it in the best way possible by collaborating and communicating successfully. Yes, we will each have specific roles and responsibilities, Sidra being the technical leader and Maria being the Submitter. </article>

    <article class="sp"> El respeto y la comunicación serán las bases de las relaciones del grupo. Usaremos para comunicarnos Slack y WhatsApp, siendo esta última la más utilizada. Haremos lo posible por juntarnos virtualmente una vez a la semana si es necesario. Para tomar decisiones primero estableceremos nuestros objetivos y metas para poder tomar la mejor decisión en cuanto al proyecto. Si la primera solución no funciona tendremos pensadas alternativas para estar seguras de no tener imprevistos. A la hora de resolver un conflicto, será importante reconocerlo primero para poder pensar los pasos para superarlo, colaborando y comunicándonos. Los roles y responsabilidades definidos por el momento son Sidra como la líder técnica y María como la encargada de los envíos.</article> </Section>
       

    
    <section class="box"> <h2 class="h2">Ethos</h2> <h2 class="sp">Ethos</h2> </section>
    <section class="box"> 
      <article> <ul><li>Group comes first</li> 
      <li>Does not leave work for the last minute</li>  
     <li> We strive to remain accountable </li></ul>  </article>

    <article class="sp"><ul>  <li>El grupo es lo primero</li>
    <li>No dejar trabajo sin hacer para último momento</li>
    <li>Mantenernos en contacto</li></ul></article></section>
  
    
 
    
</div>
<div id="homelink">
    <a href="https://raffazizzi.gitlab.io/helados-in-dh-group/">go back home/ir a inicio</a>
  
  </div>