/* Add your styles here! */
div {text-align: justify;
     }

h1 {text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

h2 { text-align: center;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: auto;}

 h3 {text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}   

.title {background-color: #7BCCB5;
        color: #fbebda}
.h1 {color: teal;}    
.h2 {color: cadetblue;} 
.h3 {color: aquamarine;}   
           
mark {color: crimson;
background-color: white;}

li {list-style-type: circle}


.box {display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;}


article {margin: 25px;
padding: 15px;
flex-grow: 1;
width: 4cm;
font-family: Georgia, 'Times New Roman', Times, serif;

}

a {text-decoration: none;}

.sp {color:rgb(88, 194, 185); 
    text-align: justify;}

#homelink {text-align: right;
            background-color: rgb(77, 138, 123);
            margin-left: 19cm;}

.foto {border-radius: 8px;
display: block; 
margin-left: auto;
margin-right: auto;
width: 25%;}

.fotomember {border-radius: 8px; 
             display: block;
             width: 50%;
             margin-left: auto;
             margin-right: auto;}


.homefoto {width: 100%;
display: block;
align-items: center;
border-radius: 8px;}

.aboutfoto {border-radius: 8px;
    display: block; 
    margin-left: auto;
    margin-right: auto;}

.portada {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
display: block;
border-radius: 8px;}

.originalmap {width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}






tei-div {text-align: justify; }


tei-head {text-align: center;
          color: olivedrab;}

tei-p {width: 17cm;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       margin-left: auto;
       margin-right: auto;
       line-height: 1cm ;
}

#textindentsp {text-indent: 0.7cm  ;
            border-bottom:  0.1cm double lightseagreen;
            padding-bottom: 0.5cm;}   
#textindent {text-indent: 0.7cm;} 
#bottom {text-indent: 0.7cm;
         border-bottom:  0.1cm double lightseagreen;
         padding-bottom: 0.5cm;}  
#bottomline {border-bottom:  0.1cm double lightseagreen;
             padding-bottom: 0.5cm;}                 

tei-note {color:grey;
          font-size: medium;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0.4cm; list-style-type: none ;
          text-align: justify;}  
#n45 {display: list-item;}  
#n46 {display: list-item ;}         
#n47 {display: list-item;}
#n48 {display: list-item;} 

tei-num {font-weight: bold;}
    
tei-name[type="place"] { font-style: italic; }        
tei-name[type="personrolename"] {font-style: italic; }
tei-name[type="placeGeog"] {font-style: italic;}
tei-name[type="country"]{font-style: italic;}
tei-rs {font-style: italic;}
tei-sic {color: crimson;}
tei-corr {color: grey;}
tei-reg {color: grey;}

tei-lb {display: none;}  

tei-fw { display: none}

tei-c {font-size: 210%;}